{% extends 'basic.html' %}

{% block title %}BlogHome{% endblock title %}
{% block homeactive %}active{% endblock homeactive%}
{% block body %}
<div class="mx-4">
    <div class="nav-scroller   py-1 mb-3 border-bottom" style="overflow-x:scroll; white-space: nowrap;">
        <nav class="nav nav-underline justify-content-between">
            <a class="nav-item nav-link link-body-emphasis active" href="#">World</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">U.S.</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Technology</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Design</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Culture</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Business</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Politics</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Opinion</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Science</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Health</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Style</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Travel</a>
        </nav>
    </div>
</div>
<div class=" mx-4">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-6 px-0">
            <h1 class="display-4 fst-italic">Welcome To iCoder</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
                efficiently about what’s most interesting in this post’s contents.</p>
            <p class="lead mb-0"><a href="/blog" class="text-body-emphasis fw-bold">Continue reading...</a></p>
        </div>
    </div>
</div>
<div class="container col-md-8">
    <div class="container mb-4">
        <h3><b>Popular Blog Post</b></h3>
    </div>
    <div class="shadow-lg mb-5 bg-body-tertiary rounded">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary"><a href="/blog/{{post.slug}}" class="btn btn-link"><b>Continue Reading...</b></a><br>Last updated 3 mins ago</small></p>
                    
            </div>
        </div>
    </div>
</div>
{% endblock body%}