<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %} {% endblock title %}</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">iCoder</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-1 mb-lg-1">
          <li class="nav-item">
            <a class="nav-link {% block homeactive %}{% endblock homeactive %}" aria-current="page" href="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% block blogactive %}{% endblock blogactive %}" href="/blog">Blog</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% block aboutactive %}{% endblock aboutactive %}" href="/about">About</a>
          </li>


          <li class="nav-item">
            <a class="nav-link {% block contactactive %}{% endblock contactactive %}" href="/contact">Contact</a>
          </li>
        </ul>
        <form method="GET" action="/search" class="d-flex" role="search">

          <input class="form-control me-2" id="query" name="query" type="search" placeholder="Search"
            aria-label="Search">
          <button class="btn btn-outline-light " type="submit">Search</button>
        </form>
          {% comment %} <a href="admin/" type="button" class="btn btn-light mx-2">admin</a> {% endcomment %}

          <!-- Button trigger modal -->
          {% if user.is_authenticated %}
          <div class="mt-1 my-auto">
            <ul class="nav-item dropdown">
              <a class="nav-link dropdown-toggle " style="color: white;" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <b> Welcome {{request.user}}</b>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="logout/">logout</a></li>
              </ul>
            </ul>
          </div>

            {% else %}
            <div class="ms-3 me-1">
            <a href="" type="button" class="btn btn-light mx-1" data-bs-toggle="modal"
              data-bs-target="#SignModal">SignUp</a></div>
            <a href="" type="button" class="btn btn-light " data-bs-toggle="modal" data-bs-target="#logModal">Login</a>
            {% endif %}
        
      </div>
    </div>
  </nav>

  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message: </strong> {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  <!-- SignUp Modal -->
  <div class="modal fade" id="SignModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Sign Up</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="/signup/">{% csrf_token %}
            <div class="mb-2 mt-0">
              <label for="Username" class="form-label">Username</label>
              <input type="text" class="form-control" id="Username" name="Username" required
                placeholder="Choose Unique username">
            </div>
            <div class="mb-2 ">
              <label for="fname" class="form-label">Name</label>
              <input type="text" class="form-control" id="fName" required name="fname" placeholder="first Name">
            </div>
            <div class="mb-2 ">
              <label for="lname" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lName" name="lname" required placeholder="last Name">
            </div>
            <div class="mb-2">
              <label for="mobile" class="form-label">Mobile Number</label>
              <input type="tel" class="form-control" id="mobile" name="mobile" required placeholder="ex- +91 1234567890"
                aria-describedby="mobile">
            </div>
            <div class="mb-2">
              <label for="email" class="form-label">Email Address</label>
              <input type="email" class="form-control" id="email" name="email" required
                placeholder="iCoderEmail@icoder.com" aria-describedby="email">
            </div>
            <div class="mb-2">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" required
                placeholder="Enter Password" aria-describedby="password">
            </div>
            <div class="mb-2">
              <label for="password1" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="password1" required name="password1"
                placeholder="re-enter password">
            </div>
            <div class="mr-3">
              <button type="submit" class="btn btn-primary mr-3">SignUp</button>

              <button type="reset" class="btn btn-primary">Clear</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- LogIn Modal -->
  <div class="modal fade" id="logModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">LogIn Here</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="/login/">{% csrf_token %}
            <div class="mb-2">
              <label for="logUsername" class="form-label">Username</label>
              <input type="text" class="form-control" id="logUsername" required name="logUsername"
                placeholder="Username">
            </div>
            <div class="mb-2">
              <label for="logpassword" class="form-label">Password</label>
              <input type="password" class="form-control" id="logpassword" required name="logpassword"
                placeholder="Enter Password" aria-describedby="password">
            </div>
            <button type="submit" class="btn btn-primary m-1">login</button>
          </form>
        </div>

      </div>
    </div>
  </div>



  {% block body %} {% endblock body %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>



</body>
</html>